<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coding.blog.service.mapper.TalkMapper">

    <select id="listTalks" resultType="com.coding.blog.service.vo.TalkVo">
        SELECT
            t.talk_id,
            t.talk_content,
            t.talk_status,
            t.talk_order,
            t.create_date,
            GROUP_CONCAT(ti.talk_image) as talk_images
        FROM
            talk t
                LEFT JOIN talk_image_relation tir ON t.talk_id = tir.talk_id
                LEFT JOIN talk_image ti ON tir.talk_image_id = ti.talk_image_id
        GROUP BY
            t.talk_id
        ORDER BY
            t.talk_order desc,
            t.create_date desc
    </select>

    <select id="getTalkById" resultType="com.coding.blog.service.vo.TalkVo">
        SELECT t.talk_id,
               t.talk_content,
               t.talk_status,
               t.talk_order,
               t.create_date,
               GROUP_CONCAT(ti.talk_image) as talk_images
        FROM talk t
                 LEFT JOIN talk_image_relation tir ON t.talk_id = tir.talk_id
                 LEFT JOIN talk_image ti ON tir.talk_image_id = ti.talk_image_id
        WHERE t.talk_id = #{talkId}
        GROUP BY t.talk_id
    </select>
</mapper>
