<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coding.blog.service.mapper.TermRelationshipsMapper">

    <select id="queryTermTaxonomyPosts" resultType="com.coding.blog.service.vo.TermTaxonomyPostVo">
        SELECT p.post_title as postName,
               tt.`name`    as termTaxonomyName,
               u.user_login    postUserName,
               p.post_date  as postCreateTime
        FROM term_relationships tr
                 LEFT JOIN term_taxonomy tt on tr.term_taxonomy_id = tt.term_taxonomy_id
                 LEFT JOIN posts p on tr.term_relationships_id = p.posts_id
                 LEFT JOIN users u on p.post_author = u.users_id
        WHERE tr.term_taxonomy_id = #{termTaxonomyId}
          and p.posts_id is not null
        GROUP BY p.posts_id
    </select>

    <select id="queryTermTaxonomyById" resultType="com.coding.blog.service.entity.TermTaxonomy">
        SELECT tt.*
        FROM term_relationships tr
                 LEFT JOIN term_taxonomy tt on tr.term_taxonomy_id = tt.term_taxonomy_id
        WHERE tr.term_relationships_id = #{postId}
        GROUP BY tt.term_taxonomy_id
    </select>
</mapper>
