<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coding.blog.service.mapper.UsersMapper">

    <select id="getUserDetail" resultType="com.coding.blog.service.vo.UserDetailVo">

    </select>

    <sql id="Base_Column_List_No_Password">
        c.users_id, user_login, user_nicename, user_email, user_url, user_registered, user_activation_key, user_status, display_name, user_type,open_id,attribute
    </sql>

    <select id="findByPage" resultType="com.coding.blog.service.entity.Users">
        select  DISTINCT <include refid="Base_Column_List_No_Password" />    from users c left join admin_role_relation b  on c.users_id = b.users_id ${ew.customSqlSegment}
    </select>

</mapper>
